<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"margin":{"top":"0"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-base-background-color has-background" style="margin-top:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--30)">

    <!-- wp:post-title {"level":1,"textAlign":"center","style":{"typography":{"fontWeight":"300","lineHeight":"1.1"},"spacing":{"margin":{"bottom":"var:preset|spacing|20"}}},"fontSize":"xx-large","textColor":"contrast"} /-->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}},"backgroundColor":"accent-4","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-text-color has-accent-4-color has-alpha-channel-opacity has-accent-4-background-color has-background is-style-wide" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)"/>
    <!-- /wp:separator -->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->